h1 {
    background-color: aqua ;
    color: black;
    text-align: center;
    padding: 20px 5px 10px 5px;
    font-size: 30px;
    position: sticky;
    display: block;
}
body {
    background-color: blanchedalmond;
    display: block;
}

.button{
    color: blue;
    background-color: coral;
    position: relative;
    left: 1130px;
    font-size: medium;
}




.foto {
    height: 250px;
    cursor: pointer;
    border-radius: 100px 100px 100px 100px;
    position: relative;
    left: 46vw;
    top: 10vh;
}

div {
    position: relative;
    top: 15vh;
    text-align: center;
    font-size: 30px;
}
